/*  */
html,
body {
  margin: 0;
  padding: 0;
  background: url('/big_project/assets/images/login_bg.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.loginAndRegBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.title-box {
  height: 60px;
  background: url('/big_project/assets/images/login_title.png') no-repeat center;
  /* ../images/login_title.png */
}

/* 登录居中 */
.layui-form {
  padding: 0 30px;
}

.links {
  display: flex;
  justify-content: flex-end;
}
.links a {
  font-size: 12px;
}

.layui-form-item {
  position: relative;
}

/* 通常 隐藏注册 */
.register_box {
  display: none;
}

/* 用户 密码 小图标 */
.layui-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}
.layui-input {
  padding-left: 32px;
}
